.button {
  margin: 2px 5px;
  padding: 8px 15px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: all 150ms;
}
.button:hover {
  background: var(--secondary-color) + e0;
}
.button:active {
  border: 1px solid var(--primary-color);
}
