.filter {
  display: inline-block;
  margin: 2px 5px;
  font-size: 14px;
  border: 1px solid var(--secondary-color);
}
.filter:hover {
  border: 1px solid var(--secondary-color) + e0;
}
.filter select {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 7px;
  padding-bottom: 8px;

  border: none;
  cursor: pointer;
  transition: all 150ms;
}
.filter select:focus {
  outline-width: 0;
}
.filter input {
  padding: 8px 4px;
  font-size: 14px;
  border: none;
  border-left: 1px solid var(--secondary-color);

  cursor: pointer;
  transition: all 150ms;
}
.filter input:focus {
  outline-width: 0;
}
.filter-focus {
  box-shadow: 0 0 0 1pt var(--secondary-color);
  outline-width: 0;
}
